* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #f9fafb;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 377px;
  min-height: 290px;
  height: fit-content;
  box-shadow: 0px 0px 12px 0px #00000029;
  margin-top: 80px;
  background-color: #ffffff;
  gap: 28px;
  padding: 24px 16px;
}
.gap20px {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.logo {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -2.5%;
  text-align: center;
}
#input {
  width: 280px;
  height: 40px;
  border-radius: 6px;
  border-width: 1px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  border: 1px solid var(--border-border-border, #e4e4e7);
}
#input:focus {
  outline: 2px solid #3c82f6;
}
#addBtn {
  background-color: #3c82f6;
  width: 59px;
  height: 40px;
  border-radius: 6px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  gap: 10px;
  border: none;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #f9f9f9;
}

.sections {
  display: flex;
  gap: 6px;
}
.section {
  border-radius: 6px;
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-left: 12px;
  background-color: #f3f4f6;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  color: #363636;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: 0.2s ease;
}
.section.active {
  background-color: #3c82f6;
  color: #ffffff;
}
.taskContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.task {
  background-color: #f9fafb;
  display: flex;
  width: 345px;
  height: 62px;
  border-radius: 8px;
  top: 20px;
  left: 20px;
  gap: 10px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-out;
}
.checkAndName {
  display: flex;
  gap: 10px;
  align-items: center;
}
.task_checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #767676;
  background-color: #ffffff;
}
.task_text {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  color: #000000;
}
.decorationLine {
  text-decoration-line: line-through;
}
.task_delete {
  width: 67px;
  height: 30px;
  border-radius: 6px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  gap: 10px;
  border: none;
  background-color: #fef2f2;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  color: #ef4444;
  opacity: 0;
  transition: all 0.3s ease-out;
}
.task:hover {
  background-color: #f3f4f6;
}
.task:hover .task_delete {
  opacity: 1;
}
.task:has(.task_checkbox:checked) .task_delete {
  opacity: 1;
}
.task:has(.task_checkbox:checked):hover {
  background-color: #f9fafb;
}
.link {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  color: #6b7280;
}
.link2 {
  text-decoration: none;
  color: #3b73ed;
}
.noTasksMessage {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  text-align: center;
  color: #6b7280;
  margin-top: 12px;
}
.completed {
  display: none;
  width: 345;
  height: 37;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 4px;
  border-top: 1px solid var(--border-border-border, #e4e4e7);
}
#clearCompleted {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  color: #ef4444;
  cursor: pointer;
}
#taskCompleted {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  color: #6b7280;
}
